<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Welcome to the Recipe Management System</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/recettes">Recettes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recipes/create">Register a Recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recipes/search">Search for a Recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories">Category List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories/create">Create a Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories/search">Search for a Category</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- Add Bootstrap JS and its dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
</body>
</html>